*
*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: normal;
  outline: none;
}
blockquote, body, dd, dl, figure, h1, h2, h3, h4, p {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  // font-family: var(--font-family-sans-serif);
  font-family: HelveticaNeue;
  font-weight: normal;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 1rem

}

.hide {
  display: none;
}
.sickly-txt {
  color: var(--sickly-yellow);
}